

#map {
    height: 100%; 
    width: 80%; 

}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.box { 
    width: 100%; 
    height:100%; 
    background-color:#17263c; 
    display: flex; 
   
}

.box input { 
    background-color: white; 
    width: 150px;
    margin-left: 35px; 
    margin-top: 100px; 
}

.main-title { 
    font-family: 'Overpass', Helvetica, Arial, 'Droid Sans', sans-serif; 
    margin-left: 30px; 
}

.sidebar { 
    width: 20%; 
    color: white; 
}

.info-box { 
    width: 200px;
    height: 80px; 
    margin-left: 30px; 
    border-radius: 5px;
    border: solid lightgrey 2px;
    padding-top: 10px;
}

.info-box:hover { 
    border: solid lightblue 2px; 
}

.stats-1 { 
    font-family: 'Overpass', Helvetica, Arial, 'Droid Sans', sans-serif; 
    border: solid lightgrey 3px; 
    border-radius: 5px; 
    width: 200px; 
    margin-left: 15px; 
    margin-right: 15px; 
    color: #a1abc6;
    font-size: 20px; 
    margin-bottom: 15px; 
    padding: 10px; 
    margin-top: 50px; 
}

.stats-1:hover { 
    border: solid lightblue 2px; 
}

.stats-2 { 
    font-family: 'Overpass', Helvetica, Arial, 'Droid Sans', sans-serif; 
    border: solid lightgrey 3px; 
    border-radius: 5px; 
    width: 200px; 
    margin-left: 15px; 
    margin-right: 15px; 
    color: #a1abc6;
    font-size: 20px; 
    padding: 10px; 
    margin-bottom: 15px; 
   
}

.stats-2:hover { 
    border: solid lightblue 2px; 
}
.stats-3 { 
    font-family: 'Overpass', Helvetica, Arial, 'Droid Sans', sans-serif; 
    border: solid lightgrey 3px; 
    border-radius: 5px; 
    width: 200px; 
    margin-left: 15px; 
    margin-right: 15px; 
    color: #a1abc6;
    font-size: 20px; 
    padding: 10px; 
    margin-bottom: 15px; 

}

.stats-3:hover { 
    border: solid lightblue 2px; 
}
.stats-4 { 
    font-family: 'Overpass', Helvetica, Arial, 'Droid Sans', sans-serif; 
    border: solid lightgrey 3px; 
    border-radius: 5px; 
    width: 200px; 
    margin-left: 15px; 
    margin-right: 15px; 
    color: #a1abc6;
    font-size: 20px; 
    padding: 10px; 
    margin-bottom: 40px; 

}

.stats-4:hover { 
    border: solid lightblue 2px; 
}

.how { 
    font-family: 'Overpass', Helvetica, Arial, 'Droid Sans', sans-serif; 
    color: #a1abc6;
    margin-left: 15px; 
}

i { 
    font-size: 20px;
    padding-left: 30px; 
    font-family:'FontAwesome';
    text-decoration: none;
}



a { 
    text-decoration: none;
    font-style: normal; 

}

p { 
    font-size: 40px; 
}
